hellowreactwithcra\node_modules
hellowreactwithcra\onlineshoppingapp\node_modules
newshopping\node_modules
onlineshoppinng\node_modules
onlineshoppinng\.vscode
reactwithtypescript\node_modules
onlineshoppinng\MERNShopping\node_modules